.login-container {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
}

.card-login {
  align-items: center;
  background-color: rgb(92, 92, 92);
  border-radius: 20px;
  box-shadow: 0.5px 10px 15px rgb(0 0 0 / 80%);
  display: flex;
  flex-direction: column-reverse;
  height: 70%;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 80%;
}

.image-container {
  height: 60%;
  width: 100%;
}

.login-image {
  height: 100%;
  width: 100%;
}

.card-login form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 40%;
  justify-content: center;
  width: 100%;
}

.card-login form h1 {
  color: #6c63ff;
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
}

.card-login form label {
  text-align: center;
  width: 100%;
}

.card-login form label input {
  background: transparent;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #fff;
  font-size: 20px;
  height: 40px;
  letter-spacing: 1px;
  text-align: center;
  transition: all 0.5s ease;
  width: 70%;
}

.card-login form button {
  width: 52%;
}

.card-login form label input:focus {
  background: transparent;
  border: none;
  border-bottom: 2px solid #6c63ff;
  border-radius: 5px 0;
  color: #fff;
  font-size: 22px;
  letter-spacing: 1px;
  outline: 0;
}


.btn {
  background-color: rgb(36, 36, 36);
  border: 1px solid rgb(36, 36, 36);
  border-radius: 30px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  height: 50px;
  letter-spacing: 1px;
  margin-bottom: 1em;
  margin-top: 1.5em;
  transition: all 0.5s ease;
  width: 40%;
}

.btn:disabled {
  cursor: progress;
  opacity: 0.3;
}

.btn:not( :disabled ):hover, .btn:not( :disabled ).btn:focus {
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
  color: #fff;
  cursor: pointer;
}

@media screen and ( min-width : 900px ) {

  .card-login {
    flex-direction: row;
    max-width: 1200px;
  }

  .card-login form {
    gap: 0;
    height: 80%;
    justify-content: space-around;
  }

  .card-login form h1 {

  }
}
