.page-profile-edit {
  height: 100%;
  width: 100%;
}

.profile-edit-container {
  align-items: center;
  display: flex;
  height: calc(100% - 140px);
  justify-content: center;
  width: 100%;
}

.img-input {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.img-input img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}

.img-input input {
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
  padding: 0.8rem;
  transition: 0.2s;
}

.text-input {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.text-input input {
  align-self: baseline;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0;
  padding: 0.8rem;
  transition: 0.2s;
}

.textarea-input textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 90px;
  outline: 0;
  padding: 0.8rem;
  transition: 0.2s;
  width: 100%;
}

.edit-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.edit-button button {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  height: 35px;
  letter-spacing: 1px;
  margin-bottom: 1em;
  margin-top: 1em;
  transition: all 0.5s ease;
  width: 115px;
}

.edit-button button:hover {
  background-color: #6c63ff;
  border: 1px solid #6c63ff;
  color: #fff;
  cursor: pointer;
}


.edit-button button:disabled {
  cursor: progress;
  opacity: 0.3;
}

@media screen and ( max-width : 530px ) {

  .profile-edit-container .card-profile {
    padding-top: 5px;
  }

  .img-input {
    flex-direction: column;
  }

  .img-input label, .img-input label input {
    width: 100%;
  }

  .img-input img {
    height: 60px;
    margin-bottom: 5px;
    width: 60px;
  }

  .img-input input {
    padding: 0.4rem;
  }

  .text-input input {
    align-self: baseline;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: 0;
    padding: 0.4rem;
    transition: 0.2s;
  }

  .text-input {
    align-items: flex-start;
    flex-direction: column;
  }

  .text-input label, .text-input label input {
    width: 100%;
  }
}

